<!DOCTYPE html>
<html>
  <head>
    <title>Hundred</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav navbar-left">
          <li class= "navbar-item"><%= link_to "Home", home_path%></li>
          <li class= "navbar-item"><%= link_to "All Activities", all_path%></li>
          <li class= "navbar-item"><%= link_to "Random Activity Picker", "tasks#index" %></li>
          <!-- <li class= "navbar-item"><%= link_to "About Us", about_path%></li> -->
        </ul>

      </div>
    </nav>

    <%= yield %>
  </body>
</html>
